/* Tablet & mobile */
@media (max-width: 1023px) {
    .s-m-mt-16 {
        margin-top: 16px;
    }

    .s-m-full-width {
        width: 100%;
    }

    .about-catering .text-content:nth-child(even) {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .s-full-width {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    #header .nav:nth-child(2) {
        display: none;
    }

    #banner .heading {
        font-size: 2.5rem;
    }

    .contact-btn {
        padding: 16px;
    }
}