* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
}

body {
    height: 2000px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #423838;
    height: 70px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Begin: Navigation */

header ul {
    display: flex;
    justify-content: space-between;
    padding: 14px 0;
}
header .nav {
    padding: 0;
}

.logo {
    font-size: 24px;
    padding: 0 24px;
    line-height: 42px;
}

.logo a {
    color: #fff;
    font-weight: bold;
}

.logo a span {
    color: #ff5200;
}

.nav li a {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.5);
}

.nav li a:hover {
    color: #fff;
}

.active-nav {
    color: #fff !important;
}

.book-btn {
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 15px;
    margin-right: 24px;
    background-color: #ff5200;
    font-weight: bold;
    border-radius: 21px;
    transition: 0.3s;
}

.book-btn:hover {
    background-color: #ff6014;
}

.book-btn a {
    line-height: 22px;
    color: #fff;
}

.book-btn i {
    display: none;
}

.nav i {
    font-size: 9px;
    padding-left: 5px;
}

.subnav-1 {
    display: none;
}

.subnav-2 {
    display: none;
    position: absolute;
    left: 180px;
    top: 51px;
}

.subnav {
    background-color: #fff;
    position: absolute;
    width: 180px;
    padding: 20px 0px;
}

.subnav>li>a {
    display: block;
    color: #000  !important;
    padding: 5px 20px !important;
    width: 100%;
    line-height: 22px;
}

.subnav i {
    font-size: 9px;
    padding-left: 60px;
}

.nav>li:hover .subnav-1 {
    display: block;
}

.subnav>li:hover>a{
    color: #ff5200 !important;
}

.subnav-1>li:hover .subnav-2 {
    display: block;
}


/* End: Navigation */

/* Begin: Banner */

#banner {
    position: relative;
    min-height: 100vh;
    background-image: url('../img/bg-header.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-content {
    position: absolute;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 540px;
    padding: 0 10px;
}

.banner-content span{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    text-align: center;
}

.banner-content h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    margin-bottom: 20px;
    width: 100%;
}

.banner-content p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.banner-content a {
    font-size: 11px;
    text-transform: uppercase;
    padding: 15px 30px;
    margin-right: 24px;
    background-color: #ff5200;
    font-weight: bold;
    border-radius: 24px;
    color: #fff;
}

.explore-btn:hover {
    background-color: #ff6014;
}

.social-networks {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.social-networks a {
    color: #ff5200;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.social-networks i {
    font-size: 16px;
    line-height: 40px;
    width: 100%;
    text-align: center;
}

.social-networks a:hover {
    color: #fff;
    background-color: #ff5200;
}
/* End: Banner */

/* Begin: Footer */
footer {
    background-color: #645F56;
    padding: 70px 0px;
}

.columns {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

    /* col-1 */
.col-1 {
    width: 380px;
    padding: 0 15px;
}

.columns h3 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 300;
}

.col-1 span {
    color: #ff5200;
}

.col-1 p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 16px;
    text-align: justify;
}

.col-1 a {
    display: inline-block;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}

.col-1 i {
    color: #000;
    width: 100%;
    line-height: 30px;
    text-align: center;
    transition: 0.3s;
}

.col-1 a:hover {
    background-color: #ff5200;
}

.col-1 a:hover i {
    color: #fff;
}

.col-1 h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

    /* col-2 */
.col-2 li {
    margin-bottom: 10px;
}

.col-2 li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

    /* col-3 */
.col-3 li {
    margin-bottom: 10px;
}

.col-3 li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

    /* col-4 */
.col-4 address {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

.col-4 li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.col-4 ul li:last-child {
    margin-top: 10px;
}

    /* Copyright */
.copyright {
    width: 1140px;
    margin: 70px auto 0;
}

.copyright p {
    text-align: center;
    font-size: 14px;
    color: #fff;
}

.copyright span {
    color: #ff5200;
}
/* End: Footer */

