/* Contain Events */
#contain-events {
    background-color: #FEE2B3;
    padding: 100px 0px;
}
    /* Birthday Party */
.birthday-party {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contain-events img {
    width: 540px;
}

.events-content {
    width: 475px;
    padding: 0 15px;
}

.events-content span {
    font-family: 'Playfair Display', serif;
    color: #FE5200;
    font-size: 30px;
    line-height: 48px;
}

.events-content h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 24px;
    color: #333;
}

.events-content p {
    line-height: 1.6;
    color: #333;
    margin-bottom: 24px;
}

.events-content i {
    position: absolute;
    font-size: 16px;
    left: 0;
    line-height: 24px;
}

.events-content li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    line-height: 24px;
}

    /* Night Party */
.night-party {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 48px;
    align-items: center;
}