@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Koulen&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #ff5200;
    --text-color: #333333;
    --footer-color: #645f56;
    --pink-color: #fee2b3;
    --height-header: 70px;
}

html {
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

.btn {
    display: inline-block;
    outline: none;
    border: 0;
    color: var(--white-color);
    font-size: 1.2rem;
    border-radius: 24px;
    padding: 14px 22px;
    transition: 0.2s;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn.btn--primary-color {
    background-color: var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.85;
}

#app {
    overflow: hidden;
}

/* === header === */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    background-color: #000;
}


/* navigation */
#navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    height: var(--height-header);
}

#navigation .logo {
    font-size: 2.4rem;
    color: var(--white-color);
}

#navigation .menu {
    display: flex;
    margin-left: 100px;
}

#navigation .menu-item {
    position: relative;
}

#navigation .menu-item:hover .menu-link {
    color: var(--white-color);
}

#navigation .menu-link {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 16px;
    transition: 0.2s;
}

#navigation .menu-link.active {
    color: var(--white-color);
}

#navigation .menu-link .icon-guide {
    font-size: 1rem;
}

/* subnav */
#navigation .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background-color: var(--white-color);
    box-shadow: 0 0 14px 3px rgba(0, 0, 0, 0.2);
    padding: 16px 0;
    display: none;
}

#navigation .subnav-level-2 {
    left: 100%;
    top: 0;
} 

#navigation .subnav .menu-item:hover > .menu-link {
    color: var(--primary-color);
}

#navigation .subnav .menu-item .menu-link {
    color: var(--black-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hover display subnav */
#navigation .menu-item:hover .subnav-level-1,
#navigation .subnav .menu-item:hover .subnav-level-2 {
    display: block;
}



/* === banner === */
#banner {
    position: relative;
    height: 100vh;
}

#banner img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

#banner::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

#banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    max-width: 570px;
    width: 100%;
    color: var(--white-color);
}

#banner .content h3 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#banner .content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 5.9rem;
    margin-bottom: 20px;
}

#banner .content p {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 16px;
}

#banner .social-networks {
    position: absolute;
    bottom: 36px;
    right: 36px;
    z-index: 10;
}

/* === footer === */
#footer {
    background-color: var(--footer-color);
    padding-top: 100px;
    color: var(--white-color);
}

#footer h6 {
    font-size: 1.9rem;
    margin-bottom: 24px;
}

#footer address {
    font-size: 1.3rem;
    margin-bottom: 12px;
}

#footer p {
    margin-top: 24px;
    line-height: 1.6;
    font-size: 1.4rem;
}

#footer span {
    margin: 24px 0;
    font-size: 1.6rem;
    display: inline-block;
}

#footer li a {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 14px;
    font-size: 1.4rem;
    transition-duration: 0.25s;
}

#footer li a:hover {
    color: var(--white-color);
}

#footer .copyright {
    padding: 64px 0 32px 0;
    text-align: center;
}

#footer .copyright span {
    margin: 0;
    color: var(--primary-color);
}

/* common */
.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.section-heading {
    font-family: 'Playfair Display', serif;
    font-size: 3.1rem;
    font-weight: 300;
}

.section-desc {
    font-size: 1.6rem;
    line-height: 1.6;
    max-width: 635px;
    width: 100%;
    color: var(--text-color);
    margin: 16px 0;
    text-align: center;
}

.section-bc-img {
    position: relative;
    background: url('../img/banner/food2.webp') no-repeat fixed center / cover;
}

.section-bc-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(245, 201, 126, 0.9);
}

.social-networks {
    display: flex;
}

.social-networks a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    justify-content: center;
    margin: 0 2px;
    transition: 0.4s;
}

.social-networks a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}


/* === content === */
#content {
    background-color: var(--pink-color);
    padding-top: 100px;
}

/* == popular-foods == */

/* category */
.category {
    margin-top: 24px;
}

.category li {
    padding: 16px 20px;
    font-size: 2rem;
    width: 255px;
    height: 62px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.category li.active {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.category li img {
    width: 26px;
    margin-right: 24px;
}

/* content */
.popular-foods .content .head {
    margin-bottom: 24px;
    align-items: center;
}

.popular-foods .content .meal {
    font-size: 3.2rem;
    font-weight: 500;
}

.popular-foods .content .page {
    font-size: 1.6rem;
    text-align: right;
}

.product.hide {
    display: none;
}

.popular-foods .product__img {
    overflow: hidden;
    border-radius: 8px;
}

.popular-foods .product__img img {
    cursor: pointer;
    width: 350px;
    object-fit: cover;
    height: 200px;
    transition: 0.3s;
}

.popular-foods .product__img img:hover {
    transform: scale(1.1);
}

.popular-foods .product__name {
    font-size: 1.8rem;
    color: var(--text-color);
    margin: 16px 0 8px;
    font-weight: 600;
}

.popular-foods .product__price {
    font-size: 1.6rem;
    color: var(--primary-color);
    display: inline-block;
    margin-bottom: 20px;
}   


/* == popular-desserts == */
.popular-desserts {
    padding: 100px 0;
    text-align: center;
}

.popular-desserts .product-item {
    display: flex;
    align-items: center;
    margin-top: 48px;
    min-height: 158px;
    padding: 24px 20px;
    transition: 0.25s;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.popular-desserts .product-item:hover {
    background-color: var(--white-color);
}

.popular-desserts .product-item img {
    width: 60px;
}

.popular-desserts .product-item-desc {
    font-size: 2rem;
    margin-left: 16px;
}

.popular-desserts .product-item-desc .name {
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
    margin-bottom: 8px;
    font-weight: 500;
}

.popular-desserts .product-item-desc .price {
    text-align: left;
    width: 100%;
    display: inline-block;
    color: var(--primary-color);
}


/* == comment == */
.comment {
    padding: 100px 0;
}

.customers {
    position: relative;
}

.assessor {
    margin-top: 48px;
    color: var(--text-color);
}

.assessor .author {
    margin-bottom: 48px;
}

.assessor .author img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
}

.assessor .author h3 {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.assessor .author .work {
    font-size: 1.4rem;
} 

.assessor .author .quote {
    position: relative;
    font-size: 7rem;
    line-height: 0;
    top: 40px;
} 

.assessor .desc {
    font-size: 1.6rem;
    width: 450px;
    line-height: 1.6;
}

/* gallery */
.gallery {
    position: relative;
}

.gallery-content {
    margin-top: 48px;
}

.gallery-img {
    margin-bottom: 24px;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-img img {
    transition-duration: 0.25s;
    width: 261px;
    height: 174px;
    object-fit: cover;
}

.gallery-img img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* == events == */
.events {
    padding: 100px 0;
}

.events-content {
    margin: 32px 0 0;
}

.events-content .text-content {
    font-size: 1.6rem;
    margin-left: 100px;
}

.events-content .text-content h5 {
    font-size: 3rem;
    color: var(--primary-color);
    height: 48px;
}

.events-content .text-content span {
    display: block;
    font-size: 2.8rem;
    color: var(--text-color);
}

.events-content .text-content p {
    line-height: 1.6;
    margin: 24px 0;
    width: 445px;
}

.events-content .text-content ul li {
    line-height: 2; 
}

.events-content .text-content ul li i {
    margin-right: 14px;
}


/* == order == */
.order {
    padding: 100px 0;
}

.order-container {
    position: relative;
}

