@keyframes fadeIn {
    from {
        transform: translateY(40px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes headerEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}


@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

/* animation scroll */
.right-to-left {
    transform: translateX(170%);
    transition-duration: 0.8s;
}

.right-to-left.start {
    transform: translateX(0);
}


.fade-in-up {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
    transition-duration: 0.8s;
}

.fade-in-up.start {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
