* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


section {
    height: 100vh;
    overflow: hidden;
}

#home {
    background: linear-gradient(to right, #4daf54, #3d8880);
    color: #fff;
    padding: 100px;
}

#home h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

#home .desc {
    font-size: 20px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #242628;
    color: #fff;
    padding: 20px;
    margin: 40px 20px;
    height: 200px;
    border-radius: 10px;
}

.box .title {
    font-size: 30px;
    margin-bottom: 20px;
}

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #017c2c 50%, #fff 50%);
}

.member {
    width: 250px;
    height: 250px;
    padding: 20px ;
    background-color: #fff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    margin: 20px;
    border-radius: 10px;
}

.member .name {
    color: #017c2c;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.left-to-right {
    transform: translateX(-200%);
    transition: 1s;
}

.left-to-right.start {
    transform: translateX(0);
}

.right-to-left {
    transform: translateX(200%);
    transition: 1s;
}

.right-to-left.start {
    transform: translateX(0);
}

.zoom {
    transform: scale(0);
    transition: 1s;
}

.zoom.start {
    transform: scale(1);
}